body {
    background-color: #f4f4f9;
    font-family: "Arial", sans-serif;
}
.header {
    background-color: #28a745; /* Bootstrap green */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Adjusted for button positioning */
    position: relative;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container {
    padding: 40px;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
.btn-primary {
    background-color: #0056b3;
    border-color: #004085;
    margin: 0 10px;
}
.tooltip {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.button-container {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.button-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.btn-primary:hover {
    background-color: #004085;
    border-color: #003366;
}
#refreshButton {
    position: absolute;
    top: 100%; /* Positioned below the title block */
    left: 5px;
    margin: 10px 5px; /* 4px space between the header and button */
    background-color: #dc3545;
    border-color: #c82333;
    padding: 5px 10px; /* Padding for button size */
}
#refreshButton:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
label {
    color: #555;
}
.form-control {
    background-color: #ffffff;
    border: 1px solid #ced4da;
}
.form-group {
    margin-bottom: 15px;
}
.hidden {
    display: none;
}
.form-group,
#results,
#generatorResults {
    width: 50%;
    float: left;
}
#results {
    width: 100%;
}
.result-box {
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.result-label-header {
    background-color: #d3d3d3;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-align: center;
}
.result-value-large {
    padding-top: 10px;
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.result-row {
    display: flex; /* Use flexbox to arrange fields in a row */
    justify-content: space-between; /* Distribute space evenly between fields */
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
}
.result-field {
    flex: 1; /* Make all fields take up equal width */
    text-align: center; /* Center align the content within each field */
}
.result-label {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; /* Add space between label and value */
}
.result-value {
    font-weight: bold;
}
.result-value-1 {
    color: green;
    font-weight: bold;
}
#generatorResults {
    width: 100%;
    margin-top: 100 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
