<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emissions Calculators</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Basic GHG Emissions Calculator</h1>
        <button id="refreshButton" class="btn btn-danger" onclick="window.location.reload();">Clear All</button>
    </div>
    <div class="nav">
        <div class="button-container">
            <button id="navigateButton1" class="btn btn-primary" onclick="window.location.href='/';">Rig GHG Emissions Calculator</button>
            <div class="tooltip">Rig Emissions Calculator</div>
        </div>
        <div class="button-container">
            <button id="navigateButton2" class="btn btn-primary" onclick="window.location.href='page2';">Generator GHG Emissions Calculator</button>
            <div class="tooltip">Generator Emissions Calculator</div>
        </div>
        <div class="button-container">
            <button id="navigateButton3" class="btn btn-primary" onclick="window.location.href='page3';">Mobile Combustion GHG Emissions (Scope 1) Calculator</button>
            <div class="tooltip">Scope1 and Co2 Emissions Calculator</div>
        </div>
        <div class="button-container">
            <button id="navigateButton4" class="btn btn-primary" onclick="window.location.href='page4';">Transportation and Distribution GHG Emissions Calculator</button>
            <div class="tooltip">Scope3 Cat 4&9 Emissions Calculator</div>
        </div>
        <div class="button-container">
            <button id="navigateButton5" class="btn btn-primary" onclick="window.location.href='page5';">Business Travel and Employee Commuting GHG Emissions Calculator</button>
            <div class="tooltip">Scope3 Cat 6&7  Emissions Calculator</div>
        </div>
    </div>
    <div class="container">
        <!-- Rig Emissions Calculator Section -->
        <div class="row mb-4">
            <div class="col-md-6">
                <h2>Rig Emissions Calculator</h2>
                <form id="emissionsForm">
                    <div class="form-group col-sm">
                        <label for="rigType">Select Rig Type:</label>
                        <select class="form-control" id="rigType" name="rig_type" onchange="updateRigOptions()">
                            <option value="">Select Type</option>
                            <option value="Onshore">Onshore</option>
                            <option value="Offshore">Offshore</option>
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        <label for="rig">Select Rig:</label>
                        <select class="form-control" id="rig" name="rig_type"></select>
                    </div>
                    <div class="form-group hidden col-sm" id="savingsTypeSection">
                        <label for="savingsType">Select Savings Type:</label>
                        <select class="form-control" id="savingsType" name="savings_type" onchange="toggleSavingsType()">
                            <option value="Time">Time</option>
                            <option value="Fuel">Fuel</option>
                        </select>
                    </div>
                    <div class="form-group hidden col-sm" id="timeSection">
                        <label for="timeHours">Enter Time in Hours:</label>
                        <input type="number" class="form-control" id="timeHours" name="time_hours" min="0">
                        <label for="timeDays">Enter Time in Days:</label>
                        <input type="number" class="form-control" id="timeDays" name="time_days" min="0">
                    </div>
                    <div class="form-group hidden col-sm" id="fuelSection">
                        <label for="fuelUnits">Select Fuel Units:</label>
                        <select class="form-control" id="fuelUnits" name="fuel_units">
                            <option value="Gallons">Gallons</option>
                            <option value="Liters">Liters</option>
                        </select>
                        <label for="fuelAmount">Enter Fuel Amount:</label>
                        <input type="number" class="form-control" id="fuelAmount" name="fuel_amount" min="0">
                    </div>
                    <button type="button" class="btn btn-primary col-sm" onclick="submitForm()">Calculate Emissions</button>
                </form>
            </div>
            <div class="col-md-6">
                <div id="results" class="mt-3"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
